body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.game-container {
  display: inline-block;
  border: 1px solid #000;
  text-align: right;
  padding: 10px 20px;
  margin: 20px;
}

.score-container {

}

#snake-board {
  width: 800px;
  height: 800px;
}

.grid-cell {
  border: 1px solid #fff;
}

.grid-cell.active {
  background-color: #000;
}

.grid-cell.food {
  background-color: blue;
}
